---
---
<section id="home" class="min-h-screen flex flex-col justify-center items-center text-center px-4">
    <h1 class="text-4xl md:text-6xl font-bold mb-4">Camilo Lavado</h1>
    <p class="text-xl md:text-2xl mb-6 text-gray-300">
      Full Stack Developer
    </p>
    <a href="#about" class="btn-outline-blue">
      Conóceme más
    </a>    
  </section>
  